html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hide-visibility{
  visibility: hidden;
}

.page-frame {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container {
  min-height: 100%;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  background-color: #E4F2FF;
  align-items: center;
  overflow-y: scroll;
}

.logo-container {
  display: flex;
  width: 140px;
  height: 140px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-repeat: no-repeat;
  margin-top: 10%;
}

.header {
  display: flex;
  width: 134px;
  height: 21px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.date-picker {
  margin-top: 10%;
}

.common-button-container {
  margin-top: 5%;
}

.common-button {
  margin-top: 10%;
  width: 255px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #0A0A0B;
  color: white;
}

.services-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.service-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.service-item{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background-color: white;
}

.service-item-card {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  min-height: 100px;
  border: 1px solid black;
  background: #fff;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
}

.service-item-add-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  gap: 8px;
}

.service-item-add-more-text {
  margin-left: 8px;
  font-size: 16px;
  color: #1976d2;
}

.service-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

.service-item-description {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.service-item-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 5%;
  flex: 1;
}

.confirm-booking {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  flex: 1;
}

.availability-date-picker {
  margin-top: 10%;
}

.available-slots-table {
  text-align: center;
  margin-top: 10%;
  width: 70%
}